body {
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1em;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    max-width: 80em;
    margin: 1em auto;
}

code {
    background-color: #eee;
    border-radius: 3px;
    padding: 0 3px;
}

header {
    background-color: white;
    grid-column: 1 / 13;
    grid-row: 1;
    padding: 0 1em;
}

main {
    background-color: white;
    grid-column: 1 / 10;
    grid-row: 2;
    padding: 0 1em;
}

aside {
    background-color: white;
    grid-column: 10 / 13;
    grid-row: 2;
    padding: 0 1em;
}

footer {
    background-color: white;
    grid-column: 1 / 13;
    grid-row: 3;
    padding: 0 1em;
}
